.bg2{
    display: absolute;
    width: 100%;
    height: 100%;

}

h1{

    position: absolute;
    width: 896px;
    height: 168px;
    left: 84px;
    top: 156px;
    
    background: none;
    font-family: 'Oswald', sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    
    color: #FFFFFF;

}

h4{

    position: absolute;
    width: 896px;
    height: 168px;
    left: 450px;
    top: 656px;
    
    background: none;
    font-family: 'Oswald', sans-serif ;
    font-style:italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    
    color: #ffffff;

}